@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@theme {
  --animate-fade-in-1: fade-in 0.1s ease-out forwards;
  --animate-fade-out-1: fade-out 0.1s ease-in forwards;

  --animate-fade-in-2: fade-in 0.2s ease-out forwards;
  --animate-fade-out-2: fade-out 0.2s ease-in forwards;
}

@layer utilities {
  .click-effect-press {
    @apply transition-transform duration-200 ease-in-out active:scale-95;
  }
}
