@theme {
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 769px;
  --breakpoint-desktop: 1920px;
}

@layer utilities {
  .screen-container {
    @apply w-[1166px];
  }

  .screen-container-tablet {
    @apply w-[769px];
  }

  .screen-container-mobile {
    @apply w-[375px];
  }

  /* 반응형 컨테이너 */
  .responsive-container {
    @apply w-[375px];
  }

  @media (min-width: 769px) and (max-width: 1919px) {
    .responsive-container {
      @apply w-[769px];
    }
  }

  @media (min-width: 1920px) {
    .responsive-container {
      @apply w-[1166px];
    }
  }
}
