@import 'tailwindcss';

@import './animation';
@import './color.css';
@import './font.css';
@import './breakpoint.css';
@import './radius.css';
@import './spacing.css';
@import './z-index.css';

@layer base {
  *,
  *::after,
  *::before {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: var(--font-suit);
    font-size: 16px;
    background-color: var(--color-white);
  }

  body {
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
  }
}
