@theme {
  --spacing-0: 0rem; /* 0px */
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-6: 0.375rem; /* 6px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-10: 0.625rem; /* 10px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-20: 1.25rem; /* 20px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-28: 1.75rem; /* 28px */
  --spacing-32: 2rem; /* 32px */
  --spacing-36: 2.25rem; /* 36px */
  --spacing-40: 2.5rem; /* 40px */
  --spacing-44: 2.75rem; /* 44px */
}
